<%- include('./partials/header.ejs')%>
<body>
    <%- include('./partials/navbar.ejs')%>
    <div class="container">
        <hr>
        <h1><%= pergunta.titulo %></h1>
        <p><%= pergunta.descricao %></p>
        <hr>
        <form method="POST" action="/responder">
            <div style="display: flex; align-items: center;">
                <h3>Responda</h3>
                <span class="d-inline-block" style="margin-left: 12px;" tabindex="0" data-toggle="tooltip" title="Contribua adicionando sua resposta">
                    <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled>?</button>
                </span>
            </div>
            <label>Sua resposta:</label>
            <textarea placeholder="Digite sua resposta" class="form-control" name="corpo"></textarea>
            <br>
            <input type="hidden" name="pergunta" value="<%= pergunta.id %>">
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Adicionar resposta">                    
                <button type="submit" class="btn btn-primary">Responder</button>
            </span>
        </form>
        <hr>
        <h3>Respostas</h3>
        <hr>
        <% respostas.forEach(resposta => { %>
            <br>
            <div class="card">
                <div class="card-body">
                    <p><%= resposta.corpo %></p>
                </div>
            </div>
        <% }) %>

        <% if (totalPaginas > 1) { %>
            <ul class="pagination">
                <% const intervalo = 5; // Define o tamanho do intervalo de páginas a ser exibido %>
                <% const inicio = Math.max(paginaAtual - Math.floor(intervalo / 2), 1); %>
                <% const fim = Math.min(inicio + intervalo - 1, totalPaginas); %>
                <% for (let i = inicio; i <= fim; i++) { %>
                    <li class="page-item <%= paginaAtual === i ? 'active' : '' %>">
                        <a class="page-link" href="/pergunta/<%= pergunta.id %>?pagina=<%= i %>"><%= i %></a>
                    </li>
                <% } %>
            </ul>
        <% } %>
        
    </div>
</body>
<%- include('./partials/footer.ejs')%>